@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FCF6DE;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1E1C1C;
    --foreground: #FCF6DE;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--jakarta-sans);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


